@model Gamestore.Models.Cart
@{
    ViewData["Title"] = "CartDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="nk-gap-1"></div>
<div class="container">
    <ul class="nk-breadcrumbs">


        <li><a href="index.html">Home</a></li>


        <li><span class="fa fa-angle-right"></span></li>

        <li><a href="store.html">Store</a></li>


        <li><span class="fa fa-angle-right"></span></li>

        <li><span>Cart</span></li>

    </ul>
</div>
<div class="nk-gap-1"></div>
<!-- END: Breadcrumbs -->


@if (Model.CartDetails.Count == 0)
    {
        <div class="text-center">
            <p>Your cart is empty.</p>
            <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Continue Shopping</a>
        </div>
    }
else{


<div class="container">
    <div class="nk-store nk-store-cart">
        <div class="table-responsive">

            <!-- START: Products in Cart -->
            <table class="table nk-store-cart-products">
                <tbody>
                    @foreach (var item in Model.CartDetails)
                    {
                        <tr>
                            <td class="nk-product-cart-thumb">
                                <a href="store-product.html" class="nk-image-box-1 nk-post-image">
                                        <img src="@item.Game.ImageURL" alt="Product Image" width="115">
                                </a>
                            </td>
                            <td class="nk-product-cart-title">
                                <h5 class="h6">Product:</h5>
                                <div class="nk-gap-1"></div>

                                <h2 class="nk-post-title h4">
                                    <a href="store-product.html">@item.Game.GameName</a>
                                </h2>
                            </td>
                            <td class="nk-product-cart-price">
                                <h5 class="h6">Price:</h5>
                                <div class="nk-gap-1"></div>

                                <strong>@item.Game.Price</strong>
                            </td>
                            <td>
                                    <form method="post" action="@Url.Action("UpdateQuantity", "Cart")">
                                        <input type="hidden" name="gameId" value="@item.GameID" />
                                        <input type="number" name="quantity" value="@item.Quantity" min="1" />
                                        <button type="submit" class="btn btn-primary">Update</button>
                                    </form>
                                </td>
                            <td class="nk-product-cart-total">
                                <h5 class="h6">Total:</h5>
                                <div class="nk-gap-1"></div>

                                <strong>@(item.Game.Price * item.Quantity)</strong>
                            </td>
                                <td class="nk-product-cart-remove">
                                    <form method="post" action="@Url.Action("RemoveFromCart", "Cart")">
                                        <input type="hidden" name="gameId" value="@item.GameID" />
                                        <button type="submit" class="btn btn-danger"><span class="ion-android-close"></span> Remove</button>
                                    </form>
                                </td>

                                
                        </tr>
                            
                    }
                        <a href="@Url.Action("Index", "Checkout")" class="btn btn-success btn-block mt-3">Checkout</a>

                </tbody>
            </table>
            <!-- END: Products in Cart -->

        </div>

        

        
        <div class="clearfix"></div>
    </div>
</div>

<div class="nk-gap-2"></div>
}
